*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-fore-color: #ebebeb;
    --light-gray: #bbbbbb;
    --dark-gray: #303030;
    --orange: orange;
    --number-hover-color: rgba(217, 217, 217, 0.457);
    --misc-hover-color: rgba(197, 197, 197, 0.682);
    --operator-hover-color: rgb(255, 183, 39);
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    min-height: auto;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#result-screen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.alignment {
    height: 10px;
    width: 75px;
    border-radius: 50%;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    margin-bottom: 2px;
    color: var(--button-fore-color);
    font-weight: 600;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.125s ease;
}

.light-gray {
    background-color: var(--light-gray);
}

.dark-gray {
    background-color: var(--dark-gray);
}

.orange {
    background-color: var(--orange);
}

#input-number {
    font-size: 50px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.double-sized {
    width: 150px;
    border-radius: 50px;
}

.align-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.btn.numerical-btn:active,
#dot-btn:active {
    background-color: rgba(188, 187, 187, 0.89);
}

.btn.misc-btn:active {
    background-color: rgba(255, 255, 255, 0.82);
}

.btn.operator-btn:active {
    background-color: rgb(255, 191, 63);
}

i {
    pointer-events: none;
}

span {
    pointer-events: none;
}

.tutorial-container {
    margin-top: 55px;
    text-align: center;
}

.tutorial-container * {
    color: gray;    
}

.tutorial-container ul {
    list-style-position: inside;
    text-align: left;
    margin-top: 5px;
}
.tutorial-container h2{
    font-size: 17px;
}
.tutorial-container li{
    font-size: 15px;
}


@media (pointer:coarse) {
    .tutorial-container {
        display: none;
    }
}

@media (hover: hover) {

    .btn.numerical-btn:hover,
    #dot-btn:hover {
        background-color: var(--number-hover-color);
    }

    .btn.misc-btn:hover {
        background-color: var(--misc-hover-color);
    }

    .btn.operator-btn:hover {
        background-color: var(--operator-hover-color);
    }
}

@media (max-width: 311px) {
    .btn {
        width: 55px;
        height: 55px;
    }

    #input-number {
        font-size: 30px;
        font-weight: 700;
    }

    .double-sized {
        width: 120px;
        border-radius: 50px;
    }

    .alignment {
        width: 55px;
    }
}

@media (max-width: 237px) {
    .btn {
        width: 35px;
        height: 35px;
    }

    #input-number {
        font-size: 20px;
        font-weight: 700;
    }

    .double-sized {
        width: 75px;
        border-radius: 50px;
    }

    .alignment {
        width: 35px;
    }
}