*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-fore-color: #ebebeb;
    --light-gray: #bbbbbb;
    --dark-gray: #303030;
    --orange: orange;
    --number-hover-color: rgba(217, 217, 217, 0.457);
    --misc-hover-color: rgba(197, 197, 197, 0.682);
    --operator-hover-color: rgb(255, 183, 39);
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator-container {
    min-height: 55vh;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#result-screen {
    width: 35%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#buttons-container {
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: center;
    align-items: flex-start;
}

#left-container {
    display: flex;
    flex-direction: column;
    width: 73%;
    justify-content: center;
    align-items: flex-end;
}

.btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    margin-bottom: 2px;
    color: var(--button-fore-color);
    font-weight: 600;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.125s ease;
}

.light-gray {
    background-color: var(--light-gray);
}

.dark-gray {
    background-color: var(--dark-gray);
}

.orange {
    background-color: var(--orange);
}

#input-number {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.double-sized {
    width: 150px;
    height: 70px;
    border-radius: 50px;
}

.align-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.btn.numerical-btn:hover,
#dot-btn:hover {
    background-color: var(--number-hover-color);
}

.btn.numerical-btn:active,
#dot-btn:active {
    background-color: rgba(188, 187, 187, 0.89);
}

.btn.misc-btn:hover {
    background-color: var(--misc-hover-color);
}

.btn.misc-btn:active {
    background-color: rgba(255, 255, 255, 0.82);
}

.btn.operator-btn:hover {
    background-color: var(--operator-hover-color);
}

.btn.operator-btn:active {
    background-color: rgb(255, 191, 63);
}

.bigger {
    font-size: 37px;
    font-weight: lighter;
}

.bi-plus-lg {
    font-size: 30px;
    font-weight: bold;
}
i{
    pointer-events: none;
}
span{
    pointer-events: none;
}
@media (max-width: 1350px) {
    #calculator-container {
        min-width: 80%;
    }
}

@media (max-width: 1012px) {
    #calculator-container {
        min-width: 100%;
    }
}

@media (max-width: 810px) {
    #buttons-container {
        width: 60%;
    }

    #result-screen {
        width: 45%;

    }

    .btn {
        width: 60px;
        height: 60px;
    }

    #input-number {
        font-size: 45px;
    }

    #result-screen {
        margin-top: 65px;
    }

    .double-sized {
        width: 122px;
        height: 60px;
        border-radius: 50px;
    }
}

@media (max-width: 656px) {
    #buttons-container {
        width: 80%;
    }

    #result-screen {
        width: 60%;

    }

    .btn {
        width: 60px;
        height: 60px;
    }

    #input-number {
        font-size: 45px;
    }

    .double-sized {
        width: 82px;
        height: 40px;
        border-radius: 50px;
    }
}

@media (max-width: 451px) {
    #buttons-container {
        width: 80%;
    }

    #result-screen {
        width: 60%;

    }

    .btn {
        width: 55px;
        height: 55px;
    }

    #input-number {
        font-size: 35px;
    }

    .double-sized {
        width: 82px;
        height: 40px;
        border-radius: 50px;
    }
}

@media (max-width: 302px) {
    #buttons-container {
        width: 100%;
    }

    #result-screen {
        width: 80%;

    }

    .btn {
        width: 55px;
        height: 55px;
    }

    #input-number {
        font-size: 35px;
    }

    .double-sized {
        width: 82px;
        height: 40px;
        border-radius: 50px;
    }
}