*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --button-fore-color: #ebebeb;
    --light-gray: #a8a7a7;
    --gray: #555555;
    --orange: orange;
}
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator-container {
    height: 55vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#result-screen {    
    width: 80%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#buttons-container {    
    width: 80%;
    height: 75%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: center;
    align-items: center;
}

#left-container {
    display: flex;
    flex-direction: column;    
    width: 73%;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    margin-bottom: 2px;
    color: var(--button-fore-color);
}

.light-gray{
    background-color: var(--light-gray);
}

.gray{
    background-color: var(--gray);
}

.orange{
    background-color: var(--orange);
}

#input-number{
    font-size: 50px;
    font-weight: 700;
    color: white;
}